<% layout('layouts/boilerplate') -%>
<div class="row">
  <div class="col-8 offset-3 mt-3">
    <h3>Listing Details</h3>
  </div>
  <div class="card col-6 offset-3">
    <img
      src="<%= listing.image.url %>"
      class="card-img-top show-img"
      alt="listing_image"
    />
    <div class="card-body">
      <p class="card-text">
        <b><%= listing.title %></b> <br />
        <%= listing.description %> <br />
        &#8360;<%= listing.price.toLocaleString("en-PK") %> <br />
        <%= listing.location %> <br />
        <%= listing.country %>
      </p>
    </div>
  </div>
  <div class="btns">
    <a
      href="/listings/<%= listing._id %>/edit"
      class="btn btn-primary col-1 offset-3"
      >Edit</a
    >
    <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
      <button class="btn btn-danger offset-5">Delete</button>
    </form>
  </div>
  <div class="col-8 offset-3 mb-4">
    <hr />
    <h4>Leave a review</h4>
    <form action="/listings/<%= listing._id %>/review" novalidate class="needs-validation" method="post">
      <div class="mb-3 mt-3">
      <label for="rating" class="form-label">Rating</label>
      <input class="form-range" type="range" name="review[rating]" id="rating" min="1" max="5" />
    </div>
    <div class="mb-3 mt-3">
      <label for="comment" class="form-label">Comment</label>
      <textarea class="form-control" name="review[comment]" id="comment" cols="30" rows="10" required></textarea>
      <div class="invalid-feedback">Enter a comment</div>
    </div>
    <button type="submit">Submit</button>
    </form>

    <hr />

    <h4>Show reviews</h4>
    <% for(review of listing.reviews){ %>
    <li><%= review.comment %> , <%= review.rating %> stars</li>
    <% } %>
  </div>
</div>
